<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Pagina ejemplo</title>
	</head>
	
	<body>
		<header>
			<h1>Bienvenido a Programacion Visual!!!</h1>
		</header>
		<!-- Aqui se agrega el menu de opciones -->
		<nav>
			<ul>
			
				<li><a href="https://www.fi.unju.edu.ar">Pagina oficial de la Facultad</a></li>
				<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Pagina de la cursada</a></li>
				<li><a href="https://github.com/">Github</a></li>
			</ul>
		</nav>
		<main>
				<section id="inicio">
					<h2>Presentacion </h2>
					<p>Materia de segundo año de la carrera Analista Programador Universitario</p>
					<h3>Docentes</h3>
					<ol>
						<li>Vega Ariel</li>
						<li>Apaza Carolina</li>
						<li>Sosa Gustavo</li>
						<li>Rodriguez Juan Carlos</li>
					</ol>
				</section>
	
		 <section id="seccion2">
            <h2>Comision 1-PV</h2>
            <p>Profesores a cargo</p>
            <table>
                <tr>
                    <th>Profesor de teoria</th>
                    <th>Profesor de practiva</th>
                </tr>
                <tr>
                    <td>Vega Ariel</td>
                    <td>Apaza Carolina</td>
                </tr>
            </table>
        </section>
      	</main>
		<aside>
			<h3>Adicionales</h3>
			<p>Contenido del aside</p>
			<img alt="imagen" src="../static/images/logopv.png">
		</aside>
		<footer>
		<h3>Mis contactos</h3>
        <p>Email: maury1999.mg@gmail.com</p>
        <a href="https://www.instagram.com/mauri_99_28/?hl=es">-Instagram</a>
        <a href="https://www.facebook.com/mauricio.gutierrez.10888/">-Facebook</a>
    	</footer>
</body>
</html>