<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Pagina ejemplo</title>
	</head>
	
	<body>
		<header>
			<h1>Bienvenido a Programacion Visual!!!</h1>
		</header>
		<!-- Aqui se agrega el menu de opciones -->
		<nav>
			<ul>
			
				<li><a href="https://www.fi.unju.edu.ar">Pagina oficial de la Facultad</a></li>
				<li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Pagina de la cursada</a></li>
				<li><a href="https://github.com/">Github</a></li>
			</ul>
		</nav>
		<main>
				<section id="inicio">
					<h2>Titulo 1</h2>
					<p>Materia de segundo año de la carrera Analista Programador Universitario</p>
					<h3>Docentes</h3>
					<ol>
						<li>Vega Ariel</li>
						<li>Apaza Carolina</li>
						<li>Sosa Gustavo</li>
						<li>Rodriguez Juan Carlos</li>
					</ol>
				</section>
		</main>
		<aside>
			<h3>Adicionales</h3>
			<p>Contenido del aside</p>
			<img alt="imagen" src="../static/images/logopv.png">
		</aside>
</body>
</html>